
.container {
 height: 16vh;
 background-color: rgb(235, 236, 179);
 display: flex;
}

.item {
 flex: 1;
 display: flex;
}

.item:last-child {
 flex: 3;
 padding: 10px;
}

.card {
 flex: 1;
 padding: 0 20px;
}

.title {
 font-size: 18px;
 color: rgb(110, 107, 107);
}

.text {
 color: rgb(110, 107, 107);
}

.motto {
 color: rgb(110, 107, 107);
}
